# Python
__pycache__/
*.py[cod]

# Django
db.sqlite3
*.log
media/
staticfiles/

# Environment
.env
.venv/
env/
ENV/
*.secret

# Migrations (you may want to keep them)
# **/migrations/
# !**/migrations/__init__.py

# IDEs
.vscode/
.idea/

# Mac/Windows
.DS_Store
Thumbs.db

# Node (if using frontend)
node_modules/